.primary-color {
  color: #d84e55;
}
.primary-bg {
  background: #d84e55;
}
.color-fff {
  color: #fff;
}
.fs-12 {
  font-size: 12px;
}
.b-0 {
  border: 0;
}
.p-8 {
  padding: 8px;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
